# Directories containing large data files
/data/radiomics_features/
/data/segs_*/
/data/vols_*/
/data/radiomics_features/
/trash/

# Documents
/documents/

# Omit other large directories
/scripts/RENT/
/scripts/4dice_scoring/segmentation_sanity_check/
freesurfer_working_directory/

# Filetypes
*.zip
*.rar
*.msg
*.png
*.pkl
*.nii
*.nii.gz

# IDE config files
.DS_Store
__pycache__
.idea


